@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Pacifico&display=swap");
/* font-family: 'Dosis', sans-serif;
font-family: 'Montserrat', sans-serif; */
html,
body {
  height: 100%;
}
body {
  color: #000;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #333;
}
.text-right {
  text-align: right;
}
a:hover {
  outline: none;
}
p {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
/* start style css */
/*  */
.hero-area-logo h3 {
  font-family: "Pacifico", cursive;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  background-color: #2285c5;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 50%;
  font-size: 14px;
  border: none;
}
.margin-minus {
  margin: -70px 0;
  padding: 120px 80px;
  color: #000;
}
#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.right-side {
  background-image: url(./img/bg2.jpg);
  background-position: center;
  background-size: cover;
  width: 80%;
  margin-left: 20%;
  height: 100%;
}
.project-bg-2 {
  background-image: url(./img/bg2.jpg);
  background-position: center;
  background-size: cover;
}
.project-bg-3 {
  background-image: url(./img/bg3.jpg);
  background-position: center;
  background-size: cover;
}
.project-bg-4 {
  background-image: url(./img/bg2.jpg);
  background-position: center;
  background-size: cover;
}
.project-bg-5 {
  background-image: url(./img/bg1.jpg);
  background-position: center;
  background-size: cover;
}
.project-bg-6 {
  background-image: url(./img/bg2.jpg);
  background-position: center;
  background-size: cover;
}
.project-bg-7 {
  background-image: url(./img/bg3.jpg);
  background-position: center;
  background-size: cover;
}
.project-bg-8 {
  background-image: url(./img/bg2.jpg);
  background-position: center;
  background-size: cover;
}
.project-bg-9 {
  background-image: url(./img/bg3.jpg);
  background-position: center;
  background-size: cover;
}
/* design start */
.left-side {
    background: #222;
    width: 20%;
    position: fixed;
    height: 100%;
    text-align: center;
  }
  .right-side {
    background-image: url(./img/bg3.jpg);
    background-position: center;
    background-size: cover;
    width: 80%;
    margin-left: 20%;
    height: 100%;
    display: table;
    position: relative;
    z-index: 1;
}
.right-side::after{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000;
  content: "";
  opacity: 0.6;
  z-index: -1;
}
.right-side-wrap {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  padding: 10%;
}
.right-side-wrap h1 {
  font-size: 50px;
  font-weight: 600;
}
.right-side-wrap h1 span {
  color: #FFCB44;
}
a.btn-one {
  background-color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 50px;
  margin-top: 40px;
  display: inline-block;
  border-radius: 5px;
  color: #000;
}
.logo {
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 1;
  margin-top: 70px;
}
.logo::before {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 150px;
  width: 150px;
  background: #FFCB44;
  content: "";
  z-index: -1;
  margin-left: -75px;
  margin-top: -75px;
  border-radius: 50%;
  opacity: 0.3;
}
ul.mainmenu {
  text-align: center;
  padding: 80px 0;
}
ul.mainmenu li a {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  margin-top: 10px;
}
ul.mainmenu li .active {
  border-bottom: 1px solid #FFCB44;
}
ul.mainmenu li a:hover {
  border-bottom: 1px solid #FFCB44;
}
.socials-link a {
  color: #fff;
  padding: 10px;
  font-size: 18px;
}
.left-side p {
  color: #fff;
  margin-top: 10px;
}
/* counter */
.factorian-content-block {
  text-align: center;
}
.section-title {
  margin: 60px;
}
p.counter-number {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}