@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Pacifico&display=swap");
/* font-family: 'Dosis', sans-serif;
font-family: 'Montserrat', sans-serif; */
html,
body {
  height: 100%;
}
body {
  color: #333;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #333;
}
.text-right {
  text-align: right;
}
a:hover {
  outline: none;
}
p {
  margin: 0;
  padding: 0;
}
/* start style css */
/*  */
.hero-area-logo h3 {
  font-family: "Pacifico", cursive;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  background-color: #2285c5;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 50%;
  font-size: 14px;
  border: none;
}
.margin-minus {
  margin: -70px 0;
  padding: 120px 80px;
  color: #fff;
}
#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
/* img set */
.bg-1{
  background-image: url(./img/bg1.jpg);
  background-position: center;
  background-size: cover;
}
 .bg-2{
  background-image: url(./img/bg2.jpg);
  background-position: center;
  background-size: cover;
}
 .bg-3{
  background-image: url(./img/bg3.jpg);
  background-position: center;
  background-size: cover;
}
/* img set */
/*  */
/* welcome area */
.mainmenu-area ul {
  background: #243757;
}
.mainmenu-area ul li {
  display: inline-block;
  position: relative;
}

.mainmenu-area ul li a {
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  padding: 15px;
  text-transform: uppercase;
}
.mainmenu-area ul li ul {
  position: absolute;
  left: 0;
  top: 50px;
  width: 150px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}
.mainmenu-area ul li:hover a{
  transition: 0.3s ease;
}
.mainmenu-area ul li:hover> a{
  background: #1EB7C1;
  color: #fff;
}
.mainmenu-area ul li:hover ul{
  z-index: 2;
  opacity: 1;
  visibility: visible;
}
.mainmenu-area ul li ul li {
  display: block;
}
.mainmenu-area ul li ul li a{
  text-transform: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.section-padding{
  padding: 50px 0;
}
.section-title {
  font-size: 22px;
  text-align: center;
  margin-bottom: 50px;
}
.section-title p{
  font-size: 14px;
}
.service-box-bg {
  height: 350px;
  position: relative;
  z-index: 1;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
}
.service-box-bg i {
  font-size: 40px;
  background: #1F2F4A;
  color: #fff;
  display: inline-block;
  border: 4px solid #fff;
  border-radius: 50%;
  padding: 25px;
  height: 100px;
  width: 100px;
  line-height: 45px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  bottom: -35px;
  transition: 0.3s ease;
}

.single-service-box {
  border: 1px solid #ECEAEC;
  border-radius: 5px 5px 0px 0px;
  transition: 0.3s ease;
}
.single-service-box h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  padding: 50px 20px 20px;
  transition: 0.3s ease;
}
.single-service-box:hover .service-box-bg i {
  background-color: #1EB7C1;
  border-color: #2B3C54;
}
.single-service-box:hover{
  background-color: #2B3C54;
}
.single-service-box:hover h2{
  color: #fff;
}