@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Pacifico&display=swap");
/* font-family: 'Dosis', sans-serif;
font-family: 'Montserrat', sans-serif; */
html,
body {
  height: 100%;
}
body {
  color: #333;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #333;
}
.text-right {
  text-align: right;
}
a:hover {
  outline: none;
}
p {
  margin: 0;
  padding: 0;
}
/* start style css */
/*  */
.hero-area-logo h3 {
  font-family: "Pacifico", cursive;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  background-color: #2285c5;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 50%;
  font-size: 14px;
  border: none;
}
.margin-minus {
  margin: -70px 0;
  padding: 120px 80px;
  color: #fff;
}
#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/*  */
/* welcome area */

.section-padding{
  padding: 100px 0;
}