@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Pacifico&display=swap");
/* font-family: 'Dosis', sans-serif;
font-family: 'Montserrat', sans-serif; */
html,
body {
  height: 100%;
}
body {
  color: #000;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #333;
}
.text-right {
  text-align: right;
}
a:hover {
  outline: none;
}
p {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
/* start style css */
/*  */
.hero-area-logo h3 {
  font-family: "Pacifico", cursive;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  background-color: #2285c5;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 50%;
  font-size: 14px;
  border: none;
}
.margin-minus {
  margin: -70px 0;
  padding: 120px 80px;
  color: #000;
}
#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
/* start design */


.feature-1 .feature-bg{
  background-image: url(./img/bg1.jpg);
  background-position: center;
  background-size: cover;
}
.feature-2 .feature-bg{
  background-image: url(./img/bg2.jpg);
  background-position: center;
  background-size: cover;
}
.feature-3 .feature-bg{
  background-image: url(./img/bg3.jpg);
  background-position: center;
  background-size: cover;
}
.feature-4 .feature-bg{
  background-image: url(./img/bg1.jpg);
  background-position: center;
  background-size: cover;
}
.feature-5 .feature-bg{
  background-image: url(./img/bg2.jpg);
  background-position: center;
  background-size: cover;
}


.single-feature-item {
  position: relative;
  z-index: 1;
}
.feature-bg{
 position: absolute;
 left: 25%;
 width: 50%;  
 height: 100%;
 content: "";
 z-index: -1;
 bottom: -50px;
}
.single-feature-item-text {
  background: #fff;
  box-shadow: 0 0 30px #ddd;
  padding: 40px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  padding-left: 140px;
  border-bottom: 2px solid #C17C66;
}
.feature-2 .single-feature-item-text{
  border-color: #20966F;
}
.feature-3 .single-feature-item-text{
  border-color: #A486C2;
}
.feature-3 .single-feature-item-text{
  border-color: #BEA581;
}
.single-feature-item-text h2 {
  font-size: 22px;
  font-weight: 600;
  color: #000;
}
.feature-no {
  position: absolute;
  left: 40px;
  top: 0;
  font-size: 50px;
  opacity: 0.3;
  z-index: 1;
  font-weight: 700;
 
}
.feature-no::after {
  position: absolute;
  right: 7px;
  top: 18px;
  height: 90px;
  width: 2px;
  background: #000;
  content: "";
  transform: rotate(45deg);
}